:root {
  /* fonts */
  --base-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  --font-family: 'Note Sans', var(--base-font-family);
  --title-font-family: 'Montserrat', var(--font-family);

  /* global */
  --black: #111111;
  --white: #ffffff;

  /* text */
  --text-color: #161313;
  --text-mute-color: #585861;

  /* colors */
  --button-color: #a585ff;
  --button-hover-color: #8b68eb;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--background);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
